@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.interFont {
    font-family: "Inter", serif !important;
}

.appBar {
    background: #10aee5 !important;
}

.buttonLinkTop:hover {
    color: #074358;
    background: #fff;
}

.backgroundModalLogin {
    background: #f2f2f9;
}

.closeModalLogin {
    color: #595959;
    cursor: pointer;
}

.passAlertMessageModal {
    background: #14abe3;
}

.videoContainer {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.bg2 {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(236,243,250,1) 50%);
}

.video2 {
    width: 100%;
    height: auto !important;
}

.divClass {
    height: 100%;
}

.divClass .figureClass {
    opacity: 0.8;
    height: 100%;
    z-index: -1;
}

.divClass .figureClass:hover {
    opacity: 1;
}

.divClass .figureClass:hover .iconsPlay {
    -webkit-transform: scale(1.3);
	transform: scale(1.3);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}

.divClass .figureClass .iconsPlay {
    -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.center {
    transition: .5s ease;
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    height: 100%;
}

.basahin:hover {
    background: #10aee5;
    color: #fff;
}

.backgroundReg {
    background-image: url('../public/assets/register/image2.jpg');
    background-size: cover;
    background-position: bottom;
    width: 100%;
    height: 100vh;
}

.popup {
    width: 100% !important;
    height: auto !important;
    display: block;
    z-index: 1;
}

.backgroundCard {
    /* background-image: url('../public/assets/id/DistributionIDBG.png') !important;
    background-size: cover;
    background-position: center;
    height: auto;
    z-index: 9999999; */
    background-image: url('/assets/id/DistributionIDBG.png') !important;
    background-size: cover;
    background-position: center;
}



@media screen and (max-width: 470px) {
    .backgroundBox{
        margin-bottom: 37rem !important;
    }
}

.iconBtn:hover {
    background: #1da7db;
}